# **DATA STRUCTURE **

1. What are data structures, and why are they important ?
-> Data structures is a type of data containers , which is used to store data efficiently. Data structure is important because if the data is not stored properly is causes problem. For huge amount of data is very necessary to store data in very effective way.
2. Explain the difference between mutable and immutable data types with examples.
-> Mutable data types are allow to update data already present in the data structure, but immutable data types are not allowed to update data present in the data structure.
Mutable data types are important for data updation in future but when it comes to security purpose data should not be updated by anyone ,that kind of data types are immutable data types.
List are mutable data structure and tuples are immutable data structure.
3. What are the main differences between lists and tuples in Python ?
-> The main difference between lists and tuple is list is mutable type of data structure and tuple is immutable of data structure.
4. Describe how dictionaries store data ?
-> Dictionaries are another kind of data structure in where data is stored in key value pair like dict={"name":"prabal","age":23}.
5. Why might you use a set instead of a list in Python ?
-> We should use set instead of list because set doesn't support duplicate values where as list supports duplicate values. Duplicate value might create moemory consumpsion more so we use set instead of list.
6. What is a string in Python, and how is it different from a list?
-> String is a data structure in python. Anything enclosed with "" is treated as string. But in case of list , list is made using [] brackets.
7.  How do tuples ensure data integrity in Python ?
-> As we know tuple is a immutable data structure in python. So once the tuple is created we are not suppose to do any changes there. So like that way the data integrity is restored in python while we use tuple .
8. What is a hash table, and how does it relate to dictionaries in Python ?
-> A hash table is a data structure that stores key-value pairs using a hash function to compute an index for fast retrieval.
A Python dictionary is implemented using a hash table, where keys are hashed to determine their storage location for efficient lookups, insertions, and deletions.
9. Can lists contain different data types in Python ?
-> Yes list can contain different type of data typle like list in list, tuple in list,dictionary in list and set in list.
10. Explain why strings are immutable in Python.
->Strings in Python are immutable to ensure memory efficiency, hashability (dictionary keys), thread safety, and security. This means their contents cannot be changed after creation. Instead, operations on strings create new string objects.
11. What advantages do dictionaries offer over lists for certain tasks ?
-> First of all dictionary is used to store data in key value pair so that we can store data which is associated to soem thing like name with name value,age with age value. So that in list we are not allowed to store data like that. So when we are suppose to store data in key value pair , then dictionary is the best to choose.
12. Describe a scenario where using a tuple would be preferable over a list.
-> Suppose lets take a example of adhar card. For every indian citizen has a unique adhar card number. The number is associated with every thing of a person.So that it can't be modified. when the person died the number can only be deleted permanently. In this kind of case we use tuple over list because tuple is immutable , after storing some data in tuple its not possible to change or modify it, except delete. If the adhar number is stored in list it can be chnageable so it causes problem.
13.  How do sets handle duplicate values in Python?
->  Set are not allow duplicate values. It doesn't mean it not accept duplicate value. While the set is create we can store duplicate value in it, but while it actually storing it, it checks all values if there are duplicate it skips the value .
se={1,1,2,3,4,88,88,8,3,4}
se
o/p: {1, 2, 3, 4, 8, 88}
14. How does the “in” keyword work differently for lists and dictionaries?
-> If we created a list of few elements and pick a element and write that elemeni in that list (1 in lis) , its gives true, when the element is present there. But in case of dictionaries we need to call the key element for in. If we call value element for in ,instead of present of that element it gives false.
list :
se =[1,1,2,3,4,88,88,8,3,4]
1 in se
o/p: True
dictioary:
s={ 1:"one",2:"two",3:"three"}
1 in s
o/p: True
s={ 1:"one",2:"two",3:"three"}
"one" in s
o/p: False
15. Can you modify the elements of a tuple? Explain why or why not.
-> NO we are ot suppose to modify any element in tuple after the tuple has been created . The reason is tuple is immutable in nature.
16. What is a nested dictionary, and give an example of its use case?
-> When we created a dictionary inside another dictionary is called as nested dictionay.
students = {'student1': {'name': 'Alice', 'age': 23},'student2': {'name': 'Bob', 'age': 34}}
students
o/p: {'student1': {'name': 'Alice', 'age': 23},
 'student2': {'name': 'Bob', 'age': 34}}
17. Describe the time complexity of accessing elements in a dictionary.
-> As Python dictionary is implemented using a hash table, where keys are hashed to determine their storage location for efficient lookups, insertions, and deletions. So the coomplexity of accessing elements in dictionaries is O(1) for best case scenarion.
18. In what situations are lists preferred over dictionaries?
-> When we are not suppose to store data in key value pair or we can say when we nned to store some random elemnets or operation then list is the most preferred one .
19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionary is considered as unordered beacuse in dictionary the data retrival is happeed based on key element.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
->  In case of list the data retrival happened based on index values.like
s=[1,2,3,4,5]
s[2]
o/p : 3
But in case of dictionary the data retrival happened based on key element. like:
s={"name":"prabal","age":23}
s["age"]
o/p: 23

1. Write a code to create a string with your name and print it.

In [ ]:
string_1=input("Enter your name :")
print(string_1)

Enter your name :Prabal
Prabal

2. Write a code to find the length of the string "Hello World":

In [ ]:
string_2="Hello World"
print(len(string_2))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string_3 ="Python Programming"
print(string_3[0:3])

Pyt

4.Write a code to convert the string "hello" to uppercase

In [ ]:
string_4="hello"
print(string_4.upper())

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
string_5 = "I like apple"
string_5[7:12]="orrange"

TypeError: 'str' object does not support item assignment

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list_6 = [1,2,3,4,5]
print(list_6)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list_7 = [1,2,3,4]
list_7.append(10)
print(list_7)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list_8 = [1,2,3,4,5]
list_8.remove(3)
print(list_8)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list_9 =  ['a', 'b', 'c', 'd']
list_9[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list_10 = [10, 20, 30, 40, 50]
list_10.reverse()
print(list_10)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple_11 = (100,200,300)
print(tuple_11)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple_12 =  ('red', 'green', 'blue', 'yellow')
print(tuple_12[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple_13 = (10, 20, 5, 15)
print(min(tuple_13))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple_14 = ('dog', 'cat', 'rabbit')
print(tuple_14.index("cat"))

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tuple_15 = ("apple","banana","kiwi")
print("kiwi" in tuple_15)

True

16. . Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set_16 = {'a','b','c'}
print(set_16)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set_17={1, 2, 3, 4, 5}
set_17.clear()
print(set_17)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set_18 = {1,2,3,4}
set_18.remove(4)
print(set_18)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set_19_1 = {1,2,3}
set_19_2 = {3,4,5}
print(set_19_1.union(set_19_2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set_19_1 = {1,2,3}
set_19_2 = {2,3,4}
print(set_19_1.intersection(set_19_2))

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
dict_21 ={"name":"Prabal","age":23,"city":"KOlkata"}
print(dict_21)

{'name': 'Prabal', 'age': 23, 'city': 'KOlkata'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict_22 = {"name":"john","age":25}
dict_22["country"]="USA"

print(dict_22)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
dict_22 = {"name":"john","age":25}
dict_22.update({"country":"USA"})
print(dict_22)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
dict_23 ={'name': 'Alice', 'age': 30}
dict_23["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict_24 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_24.pop("age")
print(dict_24)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict_25 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict_25)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list_26 = [1,2,3,4]
tuple_26 = (1,2,3,4)
dict_26 = {"name":"Prabal","age":23,"city":"KOlkata"}
print(list_26)
print(tuple_26)
print(dict_26)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Prabal', 'age': 23, 'city': 'KOlkata'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
# prompt: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
random_numbers

NameError: name 'rand' is not defined

28.  Write a code to create a list with strings and print the element at the third index.

In [ ]:
list_28 = ["I","am","good","boy"]
print(list_28[2])

good

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict_1={"name":"Prabal","age":23}
dict_2={"city":"KOlkata"}
dict_1.update(dict_2)
print(dict_1)

{'name': 'Prabal', 'age': 23, 'city': 'KOlkata'}

30. Write a code to convert a list of strings into a set.

In [ ]:
list_30 = ["I","am","good","boy"]
set_30 = set(list_30)
print(set_30)

{'am', 'good', 'I', 'boy'}